@use 'base/variables' as v;
@use 'base/mixins' as m; 

.nosotros {
    padding-top: 5rem;
    margin-bottom: 10rem;

    &__dentista {
        @include m.grid(1, 2rem);
        
        @include m.desktop {
            @include m.grid(2, 2rem);
            align-items: center;
            margin-bottom: 5rem;
        }
        
    }
    &__imagen {
        max-width: 60rem;
        border-radius: 2rem;
        overflow: hidden;
        margin: 0 auto;
    }
    &__instalaciones {
        padding-top: 5rem;
    }
    &__carrusel {
        //height: 70rem;
        border-radius: 2rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        // display: flex;
        // justify-content: center;
        // align-items: center; 
    }
}

